@model IEnumerable<Streamnote.Relational.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">  
    <div class="row">
    <div class="col-md-2">
        <div class="row">
            <h4>Projects</h4>
            <hr/>
        </div>     
        <div class="project">
            <i class="fa fa=circle" style="color: grey;"></i> Watchdog
        </div>
    </div>
    <div class="col-sm-7">
        <div class="row">
            <h4>Tasks</h4>
            <hr/>
        </div>   
        <div class="row">
            <div class="task">
                <div class="container-fluid">
                    <div style="float: left;">   
                        <i class="fa fa-circle taskTab" style="deepskyblue"></i>
                        <span class="taskTitle">This is an example of a task that needs to be done.</span>
                           
                    </div>   
                    <div class="btn btn-info">Unstarted</div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnedByUsername)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnedByUsername)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
