@model Streamnote.Relational.Models.Descriptors.OrganizerDescriptor

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid absoluteOnWideScreen">  
    <div class="row">      
        <div class="col-md-12">
            <h4>projects <a data-toggle="modal" data-target="#createProjectModal" style="float: right;"><i class="fa fa-plus-circle"></i> New</a></h4>
            <hr/>
        </div>
        @{
            foreach (var project in Model.Projects)
            {
                <div class="col-md-2">
                    @Html.Partial("_Project", project)
                </div>
            }
        } 
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="card background-element">
        @{  
            foreach (var project in Model.Projects.Where(p => p.Id == Model.ProjectId)) 
            {             
                <div class="card-header ">
                    <span><strong class=" color-standard">@project.Title</strong></span> 
                    <span style="float: right">
                        <button class="btn btn-sm btn-danger deleteProject" data-iden="@project.Id">delete</button>
                    </span>
                    <span style="float: right">
                        <button class="btn btn-sm btn-primary"  onclick="addParticipantModal(@project.Id)"><i class="fa fa-plus-circle"></i> add participants</button>
                    </span>
                </div> 

                @if (project.Users != null && project.Users.Count > 0)
                {   
                    <div class="card-body background-medium" style="margin: 8px 0 8px 18px; font-size: 0.8em; padding: 5px;">
                        <span>participants</span> <br/>
                    @foreach (var participant in project.Users)
                    {
                        <span class="background-standard color-standard" style="padding: 2px 5px; margin-right: 5px; border-radius: 7px;">
                            @if (participant.UserImage != null && participant.UserImageContentType != null)
                            {
                                <img src="data:@participant.UserImageContentType;base64,@Convert.ToBase64String(participant.UserImage)" class="icon" title="@participant.UserName"/>
                                @participant.UserName
                            }
                            else
                            {
                                <i class="fa fa-user" style="padding: 4px; margin-top: 4px;" title="@participant.UserName"></i>
                                @participant.UserName
                            }
                        </span>
                    }    
                    </div>
                }

                @if (project.Description != null && project.Description.Length > 0)
                {      
                    <div class="card-body" style="padding: 8px 8px 0 8px;">
                        <span>description</span>
                        <p>@project.Description</p> 
                    </div>
                }
            }
        }
            </div>
        </div>
    </div> 
    <br/>
    <div class="row"> 
        @{
            if (Model.IsViewingProject)
            {
                <input type="hidden" value="@Model.ProjectId" id="projectId"/>
                <div class="col-sm-6 height-90 scrollableOnWideScreen">
                    <h4>to do list <a data-toggle="modal" data-target="#createTaskModal"  style="float: right;"><i class="fa fa-plus-circle"></i> New</a></h4>
                    <hr/> 
                    <ol class="todoSort" id="newTasks">
                        @{
                            foreach (var task in Model.Tasks)
                            {
                                @Html.Partial("_Task", task)
                            }
                        }   
                    </ol>
                    <br/> 
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                </div>
                <div class="col-sm-6 height-90 scrollableOnWideScreen">
                       <h4>your tasks </h4>
                    <hr/> 
                    <ol class="todoSort" id="yourTasks">                               
                        @{
                            foreach (var task in Model.YourTasks)
                            {
                                @Html.Partial("_Task", task)
                            }
                        }    
                    </ol>                       
                    <br/>
                    <h4>completed tasks</h4>
                    <hr/> 
                    <ol class="todoSort" id="completedTasks">                               
                        @{
                            foreach (var task in Model.CompletedTasks)
                            {
                                @Html.Partial("_Task", task)
                            }
                        }  
                    </ol> 
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                    <br class="hideOnPhone"/>
                </div>
            }
        }
        
    </div>
</div>