@model Streamnote.Relational.Models.Descriptors.ItemDescriptor 

<div class="row">
    @{
        if ((Model?.Images?[0]?.Bytes == null || Model?.Images?[0]?.ImageContentType == null) && Model?.ImageLocation is {Length: > 0})
        { 
            <img src="@Model.ImageLocation" style="width: 100%;" id="backgroundOutput"/>
        }     
        else if (Model?.Images?[0]?.Bytes != null && Model?.Images?[0]?.ImageContentType != null) 
        {
            <img src="data:@Model.Images[0]?.ImageContentType;base64,@Convert.ToBase64String(Model.Images[0].Bytes)" id="backgroundOutput" style="width: 100%; margin-bottom: -45px;margin-top: 90px;" />
        }
    }
    <div class="col-md-12">
        <a onclick="showUploader()" id="imageuploaderbutton" style="text-align: center; margin: 0 auto;">
            <div style="width: 400px; padding: 10px; text-align: center; margin: 0 auto;" class="background-element">
                <span class="fa fa-camera-retro"> </span> <span style="margin-left: 8px;">Click here to upload a featured image.</span>
            </div>
        </a>

        <div id="imageuploader"> 
            <form asp-action="UploadThumbnail" asp-controller="Item" enctype="multipart/form-data" id="uploadThumbnailForm">
                <input type="hidden" name="postId" value="@Model.Id"/>
                <input type="file" name="image" id="imageFileUpload"/>
            </form>
        </div>
    </div>
</div>
<hr />
<div class="row" >
    <div class="col-md-12">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        @{
            if (Model != null && Model.Id > 0)
            {
                <input type="hidden" id="modelId" name="id" value="@Model.Id"/>
            }
        }
        
        <div class="form-group" style="padding-top: 15px;">
            <input id="itemTitleEditor" class="form-control postInput" placeholder="Headline" value="@Model.Title"
                   style="font-weight: bold;text-align: center; font-size: 1.5em; outline: none; border: none;" />
           
        </div>  
        </div>  
        </div> 
<div class="row" >
    <div class="col-md-8 offset-2"> 
        
        <br/>
        <ul id="listOfBlocks">
            @{
                if (Model != null & Model.Blocks != null)
                {
                    foreach (var block in Model.Blocks)
                    {
                                @Html.Partial("_NewBlock", block)
                    }
                }
            }
        </ul>
                
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle background-fade" data-toggle="dropdown">
                <span class="fa fa-plus"> </span>
            </button>
            <div class="dropdown-menu background-medium">
                <a class="dropdown-item background-element" onclick="addTextBlock(@Model.Id)">Add Text Block</a>
                <a class="dropdown-item background-element" onclick="addHeaderBlock(@Model.Id)">Add Header Block</a> 
                <a class="dropdown-item background-element"  onclick="addImageBlock(@Model.Id)">Add Image</a>
            </div>
        </div>   
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="postMetaDetails" class="background-medium" style="position: fixed; bottom: 0; left: 0; right: 0; padding: 10px; border-top: 1px solid grey;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Meta description</label>
                            <textarea name="content" class="background-standard color-standard" id="metaDescription" 
                            placeholder="Enter a descriptive summary of your blog post..." 
                            cols="4" rows="4" 
                            style="width: 100%; height: 100px; resize: none; border: 2px solid rgba(100, 100, 100, 0.2); border-radius: 8px; padding: 5px;">
@Model.Content
</textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div class="form-group">
                             <label class="control-label">Topics</label> 
                             <select id="choice" multiple class="background-standard"></select>
                         </div>
                        <div class="form-group">
                            <label class="control-label">This post should be public </label>
                            <input type="checkbox" checked="@Model.IsPublic" id="isPublic" name="isPublic" value="true">
                             <span asp-validation-for="IsPublic" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <button value="Delete" class="btn btn-danger deleteItem" data-iden="@Model.Id" style="float: left; margin-right: 8px;"><i class="fa fa-trash"></i></button>
                <a class="btn btn-info" href="/Item" style="float: left;">Back to your posts</a>
                <input value="Save and publish" id="publishButton" class="btn btn-success" style="float: right;"/>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>