@model Streamnote.Relational.Models.Descriptors.CommentDescriptor
      
<div class="row" id="@Model.CommentIdentifier">
    <div class="col-md-12">
        <div class="comment background-medium">
            <div class="commentImage">
                <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id" style="width: 100%;">
                    @{
                        if (Model.Image != null && Model.ImageContentType != null)
                        {
                            <img src="data:@Model.ImageContentType;base64,@Convert.ToBase64String(Model.Image)" />
                        }
                    }
                </a>
            </div>
            <div>
                <span style="font-size: 0.8em;">
                    @{
                        if (Model.UserImage != null && Model.UserImageContentType != null)
                        {
                            <img src="data:@Model.UserImageContentType;base64,@Convert.ToBase64String(Model.UserImage)"
                                 class="icon" />
                        }
                    }
                    <strong>@@@Html.DisplayFor(modelItem => Model.UserName)</strong>
                    - at @Model.Created.ToShortDateString()
                    @{
                        if (Model.CreatedByLoggedInUser)
                        {
                            <span>- <a asp-controller="Comment" asp-action="Edit" asp-route-id="@Model.Id">edit</a></span>
                            <span>- <a class="deleteComment" data-iden="@Model.Id" >delete</a></span>
                        }
                    }
                    <br />
                    <p class="commentText">@Html.DisplayFor(modelItem => Model.Content)</p>
                    
                </span>
            </div>

        </div>
    </div>
</div>