@using Streamnote.Relational.Models.Descriptors
@model Streamnote.Relational.Models.Descriptors.ItemDescriptor

<div class="row">
    <div class="card background-element postElementContainer">  
        <div class="card-body itemHeader">
            <span>
                
                @Html.Partial("_UserName", new UserNameDescriptor()
                {
                    FullName = Model.FullName,
                    UserImage = Model.UserImage,
                    UserImageContentType = Model.UserImageContentType,
                    UserName = Model.UserName
                })

                - <span style="font-size: 0.8em;">
                    @Model.FriendlyDateTime
                    @{
                        if (Model.CreatedByLoggedInUser)
                        {
                            <span>- <a asp-controller="Item" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></span>
                        }
                    }
                </span>    

                @if (Model.Title != null && Model.Title.Length > 0)
                {
                    <br/>
                    <h5 class="text-content-title">
                        <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id">@Html.DisplayFor(modelItem => Model.Title)</a>
                    </h5>
                }    

                @{
                    if (!Model.IsDetails && Model.Content != null && Model.Content.Length > 11)
                    {      
                        <span class="text-content">
                            @{
                                if (Model.Content.Length > 200)
                                {                   
                                    @Html.Raw(Model.Content.Substring(0,200))<br /> 
                                    <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id">Read more....</a> <br />
                                }
                                else
                                {
                                    @Html.Raw(Model.Content)<br />
                                }
                            }
                        </span>
                    }
                }                                                                            
            </span>
        </div>
        <div class="card-body">
            <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id" style="width: 100%; ">
                @{
                    if (Model.Image != null && Model.ImageContentType != null)
                    {
                        <img src="data:@Model.ImageContentType;base64,@Convert.ToBase64String(Model.Image)" style="width: 100%;padding-top: 8px;"/>
                    }
                }
            </a> 
        </div> 
        @if (Model.IsDetails)
        {    
            <div class="itemContent">
                <p  style="white-space: pre-line">@Html.Raw(Model.Content)</p>
            </div>   
            <hr/>
        }    
        @if (Model.Topics != null && Model.Topics.Count > 0)
        {
            <div class="itemTopics"> 
                @foreach (var topic in Model.Topics)
                {
                    <span class="itemTopic">:@topic.Name</span>
                }
            </div>
            <hr/>
        }
        <div class="itemStatistics">
            <div class="row" style="text-align: center; padding: 5px;">
                <div class="col-sm-4">                                                                        
                    @Model.CommentCount comment@{if (@Model.CommentCount != 1){<span>s</span>}} 
                </div>
                <div class="col-sm-4">
                    @Model.ShareCount share@{if (@Model.ShareCount != 1){<span>s</span>}}
                </div>
                <div class="col-sm-4">
                    @Model.LikeCount upvote@{if (@Model.LikeCount != 1){<span>s</span>}}
                </div>
            </div>
        </div>
        <div class="itemStatistics">
            <div class="row" style="text-align: center; padding: 5px;">
                <div class="col-sm-4">
                    <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id" class="actionButton  background-standard">
                        <i class="fa fa-comment"></i> @Model.CommentCount
                    </a>
                </div>
                <div class="col-sm-4">
                                           
                    <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id" class="actionButton background-standard">
                        <i class="fa fa-share"></i> @Model.ShareCount
                    </a>
                </div>
                <div class="col-sm-4">
                    @{
                        if (@Model.LoggedInUserLikesThis)
                        {
                            var id = "unLikePost" + @Model.Id;
                            <a onclick="unLikePost(@Model.Id, '@Model.UserName')" id="@id" class="actionButton background-standard">
                                <i class="fa fa-arrow-up" style="color: hotpink;"></i> @Model.LikeCount
                            </a>
                        }
                        else
                        {
                            var id = "likePost" + @Model.Id;
                            <a onclick="likePost(@Model.Id, '@Model.UserName')" id="@id" class="actionButton background-standard">
                                <i class="fa fa-arrow-up"></i> @Model.LikeCount
                            </a>
                        } 
                    }
                </div>
            </div>
        </div>  
       
        @{
            if (Model.Comments != null)
            {
                <hr/>

                <div class="commentSection"> 
                    <span><strong>Post Comment</strong></span><br />

                    <span>          
                        <input type="hidden" value="@Model.Id" id="itemIdentifier"/> 
                        <input type="hidden" value="@Model.UserName" id="usernameInput"/>
                        <textarea type="text" id="commentInput" class="commentInput" rows="3"
                                  style="overflow: hidden; margin-top: 10px; resize: none"
                                  placeholder="Start typing..." autofocus ></textarea>
                    </span> 
                </div>                     
                    <hr style="margin-bottom:10px;"/> 
                <div class="commentSection">        

                    <span><strong>Comments</strong></span>
                    <span id="newComments"></span>
                    @{
                        foreach (var comment in Model.Comments)
                        {
                            @Html.Partial("_Comment", comment)
                        }
                    }

                </div>
            }
        }
    </div>
</div>