@using streamnote.Models.Descriptors
@model streamnote.Models.Descriptors.ItemDescriptor

<div class="row">
    <div class="card">
        <div class="card-body">
            <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id" style="width: 100%;">
                @{
                    if (Model.Image != null && Model.ImageContentType != null)
                    {
                        <img src="data:@Model.ImageContentType;base64,@Convert.ToBase64String(Model.Image)" />
                    }
                }
            </a>
        </div>
        <div class="itemStatistics">
            <div class="row" style="text-align: center; padding: 5px;">
                <div class="col-sm-4">
                    <a asp-controller="Item" asp-action="Details" asp-route-id="@Model.Id" style="width: 100%;">
                        <i class="fa fa-comment"></i> @Model.CommentCount
                    </a>
                </div>
                <div class="col-sm-4">

                    <i class="fa fa-share"></i> @Model.ShareCount
                </div>
                <div class="col-sm-4">
                    @{
                        if (@Model.LoggedInUserLikesThis)
                        {
                            var id = "unLikePost" + @Model.Id;
                            <a onclick="unLikePost(@Model.Id, '@Model.UserName')" id="@id">
                                <i class="fa fa-arrow-up" style="color: hotpink;"></i> @Model.LikeCount
                            </a>
                        }
                        else
                        {
                            var id = "likePost" + @Model.Id;
                            <a onclick="likePost(@Model.Id, '@Model.UserName')" id="@id">
                                <i class="fa fa-arrow-up"></i> @Model.LikeCount
                            </a>
                        }


                    }
                </div>
                </div>
        </div>
        <div class="card-footer">
            <span>
                
                @Html.Partial("_UserName", new UserNameDescriptor()
                {
                    UserImage = Model.UserImage,
                    UserImageContentType = Model.UserImageContentType,
                    UserName = Model.UserName
                })

                - at @Model.Created.ToShortDateString()
                @{
                    if (Model.CreatedByLoggedInUser)
                    {
                        <span>- <a asp-controller="Item" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></span>
                    }
                }
                <br />
                <span style="font-size: 1.2em;">@Html.DisplayFor(modelItem => Model.Title)</span><br />
                @Html.DisplayFor(modelItem => Model.Content)
            </span>
        </div>
        @{
            if (Model.Comments != null)
            {
                <div class="commentSection">
                    <span><strong>Post Comment</strong></span><br />

                    <span>          
                        <input type="hidden" value="@Model.Id" id="itemIdentifier"/>
                        <textarea type="text" id="commentInput" class="commentInput" rows="3"
                                  style="overflow: hidden; margin-top: 10px; resize: none"
                                  placeholder="Start typing..."></textarea>
                    </span>
                    <br />
                    <br />

                    <span><strong>Comments</strong></span>
                    <span id="newComments"></span>
                    @{
                        foreach (var comment in Model.Comments)
                        {
                            @Html.Partial("_Comment", comment)
                        }
                    }

                </div>
            }
        }
    </div>
</div>